            <div class="grid_12">
                <div class="box centered">
                    <img src="/codephp/Application/Frontend/Templates/Images/logo-error.png" alt="" class="image-centered" />
                </div>
            </div>
            <p class="clear"></p>
            <div class="grid_6">
                <div class="box" style="text-align:center">
                    <h1 style="font-size:100px;color:#6082bb">404</h1>
                    <h3>Page non trouvée</h3>
                </div> 
            </div>
            <div class="grid_6">
                <div class="box">
                    <h6>Vous n'êtes pas capable de visualiser cette page à cause de :</h6>
                    <ol class="list-default">
                        <li>Un favoris/bookmark périmé</li>
                        <li>Un moteur de recherche qui a un lien périmé pour ce site</li>
                        <li>Une faute de frappe dans l'adresse</li>
                        <li>La ressource demandée n'a pas été trouvée</li>
                        <li>La ressource demandée n'a pas été trouvée</li>
                        <li>Une erreur est survenue lors du traitement de votre demande</li>
                    </ol>
                    <br/>
                    <h6>S'il vous plaît essayez l'une des pages suivantes</h6>
                    <ol class="list-default">
                        <li><a href="/comparateur/">Page d'accueil</a></li>
                        <li><a href="/comparateur/contact/">Page de contact</a></li>
                    </ol>
                </div>
            </div>
            <p class="clear"></p>