            <div class="box box-default box-theme-default">
                <div class="box-header">Erreur</div>
                <div class="box-body">
                    <div class="col_2">
                        <div class="box" style="text-align:center">
                            <h1 style="margin-top:40px;font-size:100px;color:#6082bb">404</h1>
                            <h3>Page non trouvée</h3>
                        </div> 
                    </div>
                    <div class="col_2">
                        <div class="box">
                            <h5>Vous n'êtes pas capable de visualiser cette page à cause de :</h5>
                            <ol class="list-default">
                                <li>Un favoris/bookmark périmé</li>
                                <li>Un moteur de recherche qui a un lien périmé pour ce site</li>
                                <li>Une faute de frappe dans l'adresse</li>
                                <li>La ressource demandée n'a pas été trouvée</li>
                                <li>La ressource demandée n'a pas été trouvée</li>
                                <li>Une erreur est survenue lors du traitement de votre demande</li>
                            </ol>
                            <br/>
                            <h5>S'il vous plaît essayez l'une des pages suivantes</h5>
                            <ol class="list-default">
                                <li><a href="/comparateur/admin/">Page d'accueil</a></li>
                                <li><a href="/comparateur/admin/contact/">Page de contact</a></li>
                            </ol>
                        </div>
                    </div>                    
                    <div class="clear"></div>
                </div>
                <div class="box-footer"></div>
            </div>